name: V55C Pipeline

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/workflows/**'
      - 'renovate.json'
      - 'README.md'
    branches:
      - 'main'
      - 'develop'
      - 'feat/**'
  
jobs:
  build:
    if: github.ref != 'refs/heads/main' # make sure main does not overwrite prod deployed tags. 
    uses: turbo5000c/am-reusable-workflows/.github/workflows/main-workflow.yml@develop
    secrets: inherit